
CandyStore/.vs/CandyStore/v16/.suo
CandyStore/.vs/CandyStore/v16/.suo
CandyStore/UI/bin/UI.dll
CandyStore/UI/bin/UI.pdb
CandyStore/UI/obj/Debug/UI.csprojAssemblyReference.cache
CandyStore/UI/obj/Debug/UI.dll
CandyStore/UI/obj/Debug/UI.pdb
CandyStore/UI/UI.csproj
CandyStore/.vs/CandyStore/v16/.suo
CandyStore/UI/obj/Debug/UI.csprojAssemblyReference.cache
