@using UI.ViewModels
@using UI.HtmlUoW
@model CandiesListViewModel

@{
    ViewBag.Title = "Store";
}

@foreach (var candy in @Model.Candies)
{
    @Html.Partial("CandySummary", candy);
}

<div class="btn-group-lg float-sm-left">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
        new { page = x, category = Model.CurrentCategory }))
</div>