@using Domain.Entities
@model IEnumerable<Candy>

@{
    ViewBag.Title = "Товары";
}

@foreach (var c in @Model)
{
    <div>
        <h3>@c.Name</h3>
        <p>@c.Description</p>
        <h4>@c.Price.ToString("# руб")</h4>
    </div>
}