<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-sm bg-primary">
            <a class="navbar-brand" href="/">CandyStore - life sweeter with candies</a>
            @Html.Action("Summary", "Cart")
        </nav>
    </header>
    <main style="margin-top:20px;">
        <div class="row">
            <div id="categories" class="col-md-2" style="margin-left:10px;">
                @Html.Action("Menu", "NavCategory")
            </div>
            <div class="col-md-6 offset-1">
                @RenderBody()
            </div>
        </div>
    </main>
</body>
</html>

